
body {
    background-color: #fbaf3f;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }
  .search{
    background-color: transparent;
    width: 175px;
    height: 25px;
    border-radius: 10px;
    outline: none;
  }
  .input{
      background-color: transparent;
      margin-bottom:10px;
      width: 200px;
      height: 35px;
      border-radius: 15px;
      outline: none;
  }
  .submit{
    width: 200px;
    height: 35px;
    border-radius: 15px;
    background-color: green;
    outline: none;
  }